<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
<form action="/edit-hurricane" method="post">
    <input type="text" value="{{name}}" name="hurricaneToEdit"/>
    <input type="text" placeholder="New Name" name="newName"/>
    <input type="text" placeholder="New Location" name="newLocation"/>
    <select name="newCat">
        <option selected disabled>Category</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br><br>
    <input type="text" value="{{image}}" name="hImage" width="200"/>
    <button type="submit">Update Hurricane</button>
</form>

</body>
</html>