<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter name" name="userName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/name}}

{{#name}}
Hello, {{name}}! <br><br>
<form action="/logout" method="post">
    <button type="submit">Log Out</button>
</form><br><br>
<form action="/create-hurricane" method="post">
    <input type="text" placeholder="Hurricane Name" name="hName"/>
    <input type="text" placeholder="Hurricane Location" name="hLocation"/>
    <select name="hCat">
        <option selected disabled>Category</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" placeholder="Image URL" name="hImage" width="200"/>
    <button type="submit">Submit Hurricane</button>
</form>
{{/name}}<br>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Category</th>
        <th>Submitter</th>
        <th>Image</th>
    </tr>
    {{#hurricanes}}
    <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{category}}</td>
        <td>{{user.name}}</td>
        <td><img src="http://{{image}}"/></td>
    </tr>
    {{/hurricanes}}
</table>

</body>
</html>